body {
	font-family: 'Verdana', sans-serif;
	background-color: #003399;
	text-align: center;
	color: #ffcc00;
	justify-content: center;
	align-items: center;
/*	background-image: url("../images/diagram-1.png");
	background-repeat: no-repeat;
	background-position: 50% 50%; */

	perspective: 600px;

}

.skew-background {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.skew {
	max-width: 100%;
    height: auto;
	-webkit-transition: all 0.10s ease-in-out;
	-moz-transition: all 0.10s ease-in-out;
	-ms-transition: all 0.10s ease-in-out;
	-o-transition: all 0.10s ease-in-out;
}

header {
	margin-top: 5%;
	line-height: 1em;
	margin-bottom: 0px;
}

header h1 {
	font-size: 6.5vw;
	font-min-size: 60px;
	line-height: 1em;
}



/*h1{
  font-weight: 300;
  margin: 0px;
  padding: 10px;
  font-size: 20px;
  background-color: #444;
  color: #fff;
}*/

.question{
  font-size: 22px;
  margin-bottom: 10px;
  color: white;
/*  text-transform: uppercase;*/
}
.answers {
  margin-bottom: 20px;
  text-align: left;
  display: inline-block;
  color: white;
}
.answers label{
  display: block;
  margin-bottom: 10px;
}
button{
  font-family: 'Work Sans', sans-serif;
	font-size: 22px;
	color: #fff;
	background-color: Transparent;
	border: 1px solid #ffcc00;
	padding: 20px;
	cursor: pointer;
	margin-bottom: 20px;
	outline:none;
	-webkit-transition: all 0.20s ease-in-out;
	-moz-transition: all 0.20s ease-in-out;
	-ms-transition: all 0.20s ease-in-out;
	-o-transition: all 0.20s ease-in-out;
}
button:hover{
	background-color: #ffcc00;
	border: 1px solid #ffcc00;
	outline:none;
	color: #003399;
	-webkit-transition: all 0.20s ease-in-out;
	-moz-transition: all 0.20s ease-in-out;
	-ms-transition: all 0.20s ease-in-out;
	-o-transition: all 0.20s ease-in-out;
}





.slide{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  z-index: 2;
  opacity: 0;
  transition: opacity 0.5s;
}
.active-slide{
  opacity: 1;
  z-index: 3;
}
.quiz-container{
  position: relative;
  height: 200px;
  margin-top: -20px;
}


